@import '~bulma/sass/utilities/variables';

.loader {

  &.loader-lg {
    border: 3px solid $grey-lighter;
    border-right-color: transparent;
    border-top-color: transparent;
    height: 4.5rem;
    left: 50%;
    margin-left: -2.25rem;
    margin-top: -5.25rem;
    position: fixed;
    top: 50%;
    width: 4.5rem;
  }

}
